.site-footer{
    background: #000;position: relative;bottom: 0;left: 0;width: 100%;padding: 15px 0;
}
.site-footer .d-flex{align-items: center;justify-content: space-between;}
.ft-menu ul{display: flex;column-gap: 30px;margin: 0;}
.ft-menu ul li{list-style: none;}
.ft-menu ul li a{color: #fff;font-size: 18px;-webkit-transition: 0.4s ease-in-out;-o-transition: 0.4s ease-in-out;transition: 0.4s ease-in-out;text-decoration: none;}
.ft-menu ul li a:hover{color: rgb(77, 76, 76);}
.copyright p{color: #fff;font-size: 18px;}